<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Home</a></li>
        <li><a ng-href="#/basics">The Basics</a></li>
        <li class="active"><a ng-href="#/controls">Add Some Control</a></li>
    </ul>
    <h3 class="text-muted">yeomanAngular</h3>
</div>

<div ng-controller="ControlsCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
